.heading{
    font-size: 23px;
    width: 90%;
    margin: 0px;

}
.NOTE{
    font-size: 18px;
    color: white;
}
body{
    background-size: cover;
}
.div_speed{
    float: left;

}
.div_speed_img,.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#speed,#volume{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.play_btn{
    width: 10%;
    font-size: 25px;
    border: 2px;
    border-color: cadetblue;
    border-style: solid;
}
canvas{
  border: 5px dashed cornflowerblue;  
}